doctype html
html
    head
        title= "Guinea Pig Habitat"
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='styles.css', type='text/css')
        script(src='/socket.io/socket.io.js')
        script(src='scripts.js')
    body 
        h1= "How warm are the guinea pigs?"
        .temp 25
        .minmax
            .empty
            .empty MIN
            .empty MAX
            .empty
        .minmax
            .empty
            .min 
            .max 
            .empty
        .pig

