body {
  font-family: Helvetica;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffc53a;
  color: #161032;
}

h1 {
  font-size: 2.6em;
}

.temp {
  font-size: 5em;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

.minmax {
  font-size: 1em;
  display: flex;
  flex-direction: row;
}

.min,
.max,
.empty {
  flex-grow: 1;
}

.min,
.max {
  font-weight: bold;
}

.min {
  color: #255f85;
}

.max {
  color: #c5283d;
}

.pig {
  margin-top: 20px;
  background-image: url(pig.png);
  height: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
